.image-uploader {
    height: 50vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
  }
  
  .selected-image {
    flex-basis: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .selected-image img {
    max-height: 100%;
    max-width: 100%;
  }
  
  .image-list {
    flex-basis: 20%;
    overflow-y: scroll;
  }
  
  .image-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .image-list li {
    margin: 5px;
  }
  
  .image-list img {
    height: 50px;
  }
  
  .upload-btn {
    display: block;
    margin: 5px auto;
  }
  